.container_last_work .item {
  scroll-snap-align: start;
  flex: 0 0 28%;
  /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
    40%, coral 48%); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: bisque;
  text-align: center;
  /* font-size: 1.3rem;
    line-height: 1.3em; */
  font-weight: 400;
  font-family: sans-serif;
  border-radius: 0.2rem;
  background-image: url(https://lh3.googleusercontent.com/pw/AMWts8AEzFjgbPMoTglC9-Xh3VoDwCuEV6uOeCElA0nQKwpuobp0u-VYtFeSX-_F-hmH4dlTL25ilvY5_PVv2-VsO5CdPi1wg5LT5DZfzuHphio2egLxZnImSRaUQNJ4pfkMrMyzFu3HT5dgnrtb1DKKlKyO_XIGyh36S7dVP5idk2JuOotc0M9naA9B9NcHsVCSPrWrfAIOaGfYfpkPSrpZ7DqMm_MiX_KzclVQeAV-oVajxXFhl4-0tnpyXnBPjaEEcFZt5x6b0WOI5wEDsJpqvT3F1tK3mLvdjhAzP6_3rrrSi7u916QAaWPOG18eAo55ISDQWoL7KjbmvzmjqNFfjEHUbdIuyvwxqCTLZouBs-U0bZaadBYJBBavoMTKtqpMBX7t_uvbC0eM6CjSB08ozt-EPYrSFVGUBC7QJiG1aJXIdFF-35wx43nhDBh0auSI38nBr1XZpJEhsp6eYQ_aQv_RBY1XpNmAxpqNYIw8lfgb_69p7wbcxSh8C09SacdQISVObuZ4yYX2S270LIyo5XX0zEJVpB0sFMjFBaN5obeEyKbduQzrSv-M1r7L9s7loW1iFaCMv1AKYaz7QqUXA2nz8Q0VLBzLHh0OfoaQS9h5nLdK_VudEyXBuBLZv1xJZA_gILkefLutZZcvdlwei2mRx0FQ8NVmtSer5Eejga7aGnKOL5ySzv0G6hM-WKKIQ6ESVHHZRyz_yrXbA1fE5mijmeoC26exiWuYMWv_gFjz9ECXkQ65aQXJ53Yy_uHKU2ZGiuBMlq0xNh-rdwtcLkuhcZTLMq4NLnErcR_D6Gdopfb0ohiPlzCUNGz7-vRv4NyjV1s3ipc96sXvnfHntlYeDGSWyZU1YrtK5Xy0Qv3_dRPqaEpSlCi2SaVx0j8IgMGTlh-mHi4lJiskhvF2ExWwsGCgfA4eHvn-FTVrkHxVZoUbASj46MgW9F6H=w1280-h720-s-no?authuser=0);
  background-size: cover;
  width: 20vw;
}
.container_last_work .item1{
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
    40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
    line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: .2rem;
    background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/280431628_109738355071801_8841450592589365724_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEuGmnPV2SrR-7zJcHLwh7DF71FGc_R4vYXvUUZz9Hi9sVACay6erVsLOrldqx3V90gjv39HS7eXYKZT3EvQpKM&_nc_ohc=0KETHH6n910AX-DQS59&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfAP5gJoJkNZZ6AFa4pCBGtBLPvwbijMBHnVOcs7EmR61w&oe=6423D890);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item2 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/280433211_109745355071101_4752158456337275013_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGyc93pgQdgiy-llOm0L0KsiLV2uzX8NxmItXa7Nfw3GU5Tz-v8O8PojtCaCsW-vAiTemD8-19Ecv6CJ8V1EuJ2&_nc_ohc=Fjgi-xYcN7QAX_Yu2pu&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfAzeHu0QAvFgFsUKwZxg_u2TQXTts3gfLY3n2XeB4zVrw&oe=6423328C);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item3 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/317070132_152970764145455_548989595260402011_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEDmqISplCYXlfmGbwsjK1a0Vl5TNfZCyrRWXlM19kLKu4tn37RDFjbfaqP9YUGZx_y2noCPvNp-Bnn_ltOM8TS&_nc_ohc=8dSjWIXgmRoAX_YHZcZ&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfAd4Igf9m_H7f6k6uULsTssdrrlL_ezPO19B0GS4DUqqg&oe=64239B06);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item4 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8ArsvvNbEcqpJsJy2kbJAMVw9dO3LE1cS-JFWdQ5eV_FrEsG_xtAGMoSxCpSFPEFaZGz9lWJYd1yDYKs80DOIGchE920gt8h3p13Kw6fcRlZshFEQRaKsRKIiSe7VLtec7DEVkx-p08wRLo3hxeA-k8TGEiPqwpDAPxYycFWpbxKauf2RFqrNQrKi_hoLafKwdK5sGqfD3SQ3PVEoHVJuOKiWzDnAd4PNejNtHp5w8HykE2c-_CCxTcHbBqpYpvXctkXcnVFuPusNnMC7YpesnlGwwC80u8suXKz5yuX__i2NEw6odtKx-ioC7cYNoiroL3BiSIpcAx3ZLeI90lIYZUboaa9ZfdTkJb3k-vRAUBuPX0wMSlW93x06P_4DmyoET6T06AKqyovSGS-iamC3ip4ASwwuCigfBzU156mDHcHyeRP6ksFyYaEdgPN_1MaL4nEA8hO2QNnAc5j5WeA_pxeQ1ClbwGcXO9sUY6bCGPNca5944_b3b4iTJQyMMuzlIj-1AypYzVyI4cv-HDbBvKUvCbZsA5PCUmcSSx1Y-ji2tNvY1gLLFMAAKVvQ9x3fa_eCictXhEmUfhurWMUzBTDJV_ha6emjJcq_lLYya694m_Pio5uL_TBg4hoURcvF7aaEliM0lF79Qwme5qC2n1-3h0eirniAo99m5LEQtC-0SY0nlvtf2Yed2LWBKdDEfMS8D84mtZwAFE6_RjKCiSHmQkBCDsQdyC8oHMyXnTRYYbn02V_FOuc_CnamD2KInIbIOs-lTn0LMd3NaEBw7M2HHtWbbbXtLGIjE2gaNKXCxNdlwoO96heec120r4xlUPngoHv0hz-6oco486hzGKE8oea4RQtulCRQ7GyY-VAUjoL9RgG-e8AJWucGpr06P6OxLkPF0lYeQMmWsyEXUlBwKCTyptXDlKbDYapbnmS7wYqoGoqlj7xy1h=w718-h404-no?authuser=0);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item5 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8CuB8K_lpxNPuW3qEPATz6TYFi664mDYisealQjlctTN__dj3Xm21KyRuO9Zv-KHPAj50OBN-tMnRan9UFHhwyq31vSxjI6dGujbmdG23a-XhqVAFI7i3XYl1r7sAqyFFAv6_OppCILdGoc-on3rmR7-qrU_-izkl8mplBnMM-DmOSIwcmqxQlkKsSR_L7i0ldz8BZwxT5zB2SGK8MQq9lD9ieqdsSkIwf4F2EifIwUj93BFKoV5D3cqaMlwH35Tm-g07ggMsdtx4NuvHAXgGDuTP3Fm7XVTjiVMUf9If5xoFCY6KvkQxGYov1LlfARR2lO0h__WfmJ3Dv2mYSnU1G4b7m4wU4PG5ddksSJKsseC1R1MKUXxqOlK0N3Y_DXmDALIai4B1gPwiWBW4WNm5cD8QDiVI47i3Z5DJ9arrTeviwu08GLQGzCisN05Kj8pUekVfdEkN1vOhuWeJgJLe4gjA-OIGlQfPMYxRKYnZr3pW0JiyWAcHuScEY0vMFqgx6HCUIrxHn8oXnEzAopqcgHGqQJ4i5LFFqyd8hVZfgrvhLsxPuQK0TLeLjtVXO2UFJSy8eomQYRCJ06vqJdkRMAwCetKUUz4JFJXOYz8aBNXQkbob4EvWtqs4pOohBUiALoStWwTkitbacQQwcEhXXZjgdZbwkFmYmkMZE1-6zyrLEYl6AW2xDzkPRDZZBhb-DYzsE2hXL01NM1iP3Vee2aMzUsVkXCvDKpi4hFYYItRAFbFNLAB53Ua6hjyFdYPuVhknIYVTEdvKR9e1NHhgADYVdagqShaunLy4eEpOSWgn5Fo8_K-9CHATqhHACYrMiKyCCmo-IFcYpzp6QZkwoxtDs8hPxPxgyd6c9ZJEM2YHm2sYvyUwlcm_L53B8CXeNFYGSBhr24elGKnpXYnXdw2R9T_k3PxDM7qGAJVtcsxtEhVK-MiUwS7iXJ=w1280-h720-s-no?authuser=0);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item6 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8BY3JReJpAjDKQlRYApjR4QDjcQwXr4NlgY1RNYB9TGsFloZA7WWaP9vZ4XQCzFuYDB7uJX8sVhLhxISrvg1Ovc8bOCdOX0WPKfRRP99z2sH9WHKjsWkxiu1ehIQZtFpnfAxpY4MlL5chZs3DmmhjVwIaWYjNiqsuFFuq_sPjkiUMPWxs0HEZ-gmKSzX9fTXerNYeMk8QqNFDHMZ-YMsR_SaSsso0wi4qdWBg-qloa4DHfvRpoMiWetghUOTQh7_f7tf1iLAZC7nKhJFVYtcRzURNMnJeNempmVbxyxpdrfg2FhaLNtf-mOZqHkwzC-6oxc8BUQhXTS1FpfAIiy-IyO-GmIK0VEoFDNhYUXOil8oooWaENmfR8Ip86wb_gJw7pM5VKOG5Vnn2Ar1N8aDK7NqgEzo4lndsMdzs6p4llNbysTVp-zQCu6XRlYwrk2d-MI1bdDcbHjsAmX3aHDCUQEhCAsYf7gVD39Ns2IXz62CVDFU9vrN8qwi_UiMcA4T0MCExwafbvYxe7ZCoIvbQNoFWTus4dHWX4Nu7hREC-jY50PBHiQM1JxiCUlkkFLoA3iHJyHcBjUyoqaN9DbpEM4SACSbBrELOTkJT_lbfFdncz43-6u2dY9nk7AgKDAJFtOxYfg7evxvSUcLfKlEGYenp3NDDmCry2v2_x-bXNgaFIab8upNnGC1x4Op7czhRixMb_rBDQsGK4t2YFx81URUyDTvxeBYs6jstXDlE7Q2v79DkZkYm-6Gyx7_3YNWtipF4UrUzCLGjZpimaRkeeyAnG1QyyIJ2TYty9gp0DTY2JUT2LIDWgCgY8DctLw9kX87SLcISzp9JpCi5D0zTMBoBtDPB2FinUL62SIp3mWXfg5k9EZJVEdfdwVcr8q6MGgz_UfuctnE5ce3jZueHBaVAzHSlmghW2bU3KX7AQzli4td5NEecdxOe-V=w1280-h720-s-no?authuser=0);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item7 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8BXIBe3V1yzcSXF6rGKVestfHkaH9hdCZJAeJOASsfxYEzTzZ7Tsk_gzL5B-Pcoscm0ZUJgzIzGKWqH3-KrmFqJgt_eRO1pPI5bejT4ktfwKXRFiu-zZ5234iKjk_U8aYQQNFge2JAHcIMlJBWsDWp_KaJLef_Iay3TAgZhh9UVY2kSz9TyCi31rOHBY6O-JN7TpAv7KBIVFEcKbc5NVXVQ9vY5J5mLB00d3TWugiuhd_Vu7SUm02JQhtlYu-A-mD5u096s4aZjAWU6ZUlBdmCHjjFyVc497zl2s-PUPx-zk6D0TYrOr5s3h7j-g54LEtGgG5482WSf5mTd8Gm-mJ3sLvsT2Qx4zeV849OhnAwPQ5EPj6QPykngHbq24MSsyS0zRFe7GbS4gILG40XmtApPsNerQGaWNejicHIvNtUVAMffcsT092SXM9kcVBpgovNFHJ03xDbqono4f7VnPX-ViTX5iu-CGy-MUcdvwYDEXG8CZ19kllolK3XA8KRppQNYEyWDt5xNzugcxLYa6Ss6gJlDAJf7sMIktikyVVol1xGIoMi8OSxLwwEQCxcDIpzxSBl8OcU_MQu63ke-eAXEMyQSz5MEiusOt2RCapiWanyiwNs81AMEyfhxjR7BLgMB2lAagi_2TbpLHoC1tkDR2EdG8cI-VBcUz0xcljWmFy4FCQcrp1dJ3F2SYsctmoJoC6zcnZ0BIpgB80XxLuMYTy1O_CruB7d5k4E58FpdHeD1uu5_AeniYq9mJgy2f5ZEJT5taYBDuFFs9d70s8YRkd0p97U-Z_GoYbU3229cnVknXNkUehLSAx-aiZdzptbG6CB5p5UATDDsfY2zTuKhymovj5iOI9rzUSyMwdaCigmlM8i-No3HjZNnpwP79q1Crqk2APvMZEU7F04O0vJDA4811PVxlepuZkhKQ-TFJ5Z6X-esgSzJEvwu=w1280-h720-s-no?authuser=0);
    background-size: cover;
    width: 20vw;
  }
  .container_last_work .item8 {
    scroll-snap-align: start;
    flex: 0 0 28%;
    /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
      40%, coral 48%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    /* font-size: 1.3rem;
      line-height: 1.3em; */
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 0.2rem;
    background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/288220684_127381629974140_2861742593891493794_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHMlETEZaNHgHJ_ctYE-CCsRQzlU0fldF1FDOVTR-V0XZ7_n6iubb6Vl9ziT0UHwqv1LVX20gkUqOFVjnGDUytI&_nc_ohc=pcAmT5rdxngAX_dlOmW&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfA3Ox3V6x7jCYQkhwcJQMOqH0Fi2l14q_EktYuyFb9gDw&oe=64241B41);
    background-size: cover;
    width: 20vw;
  }
  @media screen and (max-width:480px) and (max-height:940px){
    .container_last_work .item {
      scroll-snap-align: start;
      flex: 0 0 65%;
      /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
        40%, coral 48%); */
      display: flex;
      justify-content: center;
      align-items: center;
      color: bisque;
      text-align: center;
      /* font-size: 1.3rem;
        line-height: 1.3em; */
      font-weight: 400;
      font-family: sans-serif;
      border-radius: 0.2rem;
      background-image: url(https://lh3.googleusercontent.com/pw/AMWts8AEzFjgbPMoTglC9-Xh3VoDwCuEV6uOeCElA0nQKwpuobp0u-VYtFeSX-_F-hmH4dlTL25ilvY5_PVv2-VsO5CdPi1wg5LT5DZfzuHphio2egLxZnImSRaUQNJ4pfkMrMyzFu3HT5dgnrtb1DKKlKyO_XIGyh36S7dVP5idk2JuOotc0M9naA9B9NcHsVCSPrWrfAIOaGfYfpkPSrpZ7DqMm_MiX_KzclVQeAV-oVajxXFhl4-0tnpyXnBPjaEEcFZt5x6b0WOI5wEDsJpqvT3F1tK3mLvdjhAzP6_3rrrSi7u916QAaWPOG18eAo55ISDQWoL7KjbmvzmjqNFfjEHUbdIuyvwxqCTLZouBs-U0bZaadBYJBBavoMTKtqpMBX7t_uvbC0eM6CjSB08ozt-EPYrSFVGUBC7QJiG1aJXIdFF-35wx43nhDBh0auSI38nBr1XZpJEhsp6eYQ_aQv_RBY1XpNmAxpqNYIw8lfgb_69p7wbcxSh8C09SacdQISVObuZ4yYX2S270LIyo5XX0zEJVpB0sFMjFBaN5obeEyKbduQzrSv-M1r7L9s7loW1iFaCMv1AKYaz7QqUXA2nz8Q0VLBzLHh0OfoaQS9h5nLdK_VudEyXBuBLZv1xJZA_gILkefLutZZcvdlwei2mRx0FQ8NVmtSer5Eejga7aGnKOL5ySzv0G6hM-WKKIQ6ESVHHZRyz_yrXbA1fE5mijmeoC26exiWuYMWv_gFjz9ECXkQ65aQXJ53Yy_uHKU2ZGiuBMlq0xNh-rdwtcLkuhcZTLMq4NLnErcR_D6Gdopfb0ohiPlzCUNGz7-vRv4NyjV1s3ipc96sXvnfHntlYeDGSWyZU1YrtK5Xy0Qv3_dRPqaEpSlCi2SaVx0j8IgMGTlh-mHi4lJiskhvF2ExWwsGCgfA4eHvn-FTVrkHxVZoUbASj46MgW9F6H=w1280-h720-s-no?authuser=0);
      background-size: cover;
      width: 20vw;
    }
    .container_last_work .item1{
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
        40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
        line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: .2rem;
        background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/280431628_109738355071801_8841450592589365724_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEuGmnPV2SrR-7zJcHLwh7DF71FGc_R4vYXvUUZz9Hi9sVACay6erVsLOrldqx3V90gjv39HS7eXYKZT3EvQpKM&_nc_ohc=0KETHH6n910AX-DQS59&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfAP5gJoJkNZZ6AFa4pCBGtBLPvwbijMBHnVOcs7EmR61w&oe=6423D890);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item2 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/280433211_109745355071101_4752158456337275013_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGyc93pgQdgiy-llOm0L0KsiLV2uzX8NxmItXa7Nfw3GU5Tz-v8O8PojtCaCsW-vAiTemD8-19Ecv6CJ8V1EuJ2&_nc_ohc=Fjgi-xYcN7QAX_Yu2pu&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfAzeHu0QAvFgFsUKwZxg_u2TQXTts3gfLY3n2XeB4zVrw&oe=6423328C);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item3 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/317070132_152970764145455_548989595260402011_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEDmqISplCYXlfmGbwsjK1a0Vl5TNfZCyrRWXlM19kLKu4tn37RDFjbfaqP9YUGZx_y2noCPvNp-Bnn_ltOM8TS&_nc_ohc=8dSjWIXgmRoAX_YHZcZ&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfAd4Igf9m_H7f6k6uULsTssdrrlL_ezPO19B0GS4DUqqg&oe=64239B06);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item4 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://lh3.googleusercontent.com/pw/AMWts8ArsvvNbEcqpJsJy2kbJAMVw9dO3LE1cS-JFWdQ5eV_FrEsG_xtAGMoSxCpSFPEFaZGz9lWJYd1yDYKs80DOIGchE920gt8h3p13Kw6fcRlZshFEQRaKsRKIiSe7VLtec7DEVkx-p08wRLo3hxeA-k8TGEiPqwpDAPxYycFWpbxKauf2RFqrNQrKi_hoLafKwdK5sGqfD3SQ3PVEoHVJuOKiWzDnAd4PNejNtHp5w8HykE2c-_CCxTcHbBqpYpvXctkXcnVFuPusNnMC7YpesnlGwwC80u8suXKz5yuX__i2NEw6odtKx-ioC7cYNoiroL3BiSIpcAx3ZLeI90lIYZUboaa9ZfdTkJb3k-vRAUBuPX0wMSlW93x06P_4DmyoET6T06AKqyovSGS-iamC3ip4ASwwuCigfBzU156mDHcHyeRP6ksFyYaEdgPN_1MaL4nEA8hO2QNnAc5j5WeA_pxeQ1ClbwGcXO9sUY6bCGPNca5944_b3b4iTJQyMMuzlIj-1AypYzVyI4cv-HDbBvKUvCbZsA5PCUmcSSx1Y-ji2tNvY1gLLFMAAKVvQ9x3fa_eCictXhEmUfhurWMUzBTDJV_ha6emjJcq_lLYya694m_Pio5uL_TBg4hoURcvF7aaEliM0lF79Qwme5qC2n1-3h0eirniAo99m5LEQtC-0SY0nlvtf2Yed2LWBKdDEfMS8D84mtZwAFE6_RjKCiSHmQkBCDsQdyC8oHMyXnTRYYbn02V_FOuc_CnamD2KInIbIOs-lTn0LMd3NaEBw7M2HHtWbbbXtLGIjE2gaNKXCxNdlwoO96heec120r4xlUPngoHv0hz-6oco486hzGKE8oea4RQtulCRQ7GyY-VAUjoL9RgG-e8AJWucGpr06P6OxLkPF0lYeQMmWsyEXUlBwKCTyptXDlKbDYapbnmS7wYqoGoqlj7xy1h=w718-h404-no?authuser=0);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item5 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://lh3.googleusercontent.com/pw/AMWts8CuB8K_lpxNPuW3qEPATz6TYFi664mDYisealQjlctTN__dj3Xm21KyRuO9Zv-KHPAj50OBN-tMnRan9UFHhwyq31vSxjI6dGujbmdG23a-XhqVAFI7i3XYl1r7sAqyFFAv6_OppCILdGoc-on3rmR7-qrU_-izkl8mplBnMM-DmOSIwcmqxQlkKsSR_L7i0ldz8BZwxT5zB2SGK8MQq9lD9ieqdsSkIwf4F2EifIwUj93BFKoV5D3cqaMlwH35Tm-g07ggMsdtx4NuvHAXgGDuTP3Fm7XVTjiVMUf9If5xoFCY6KvkQxGYov1LlfARR2lO0h__WfmJ3Dv2mYSnU1G4b7m4wU4PG5ddksSJKsseC1R1MKUXxqOlK0N3Y_DXmDALIai4B1gPwiWBW4WNm5cD8QDiVI47i3Z5DJ9arrTeviwu08GLQGzCisN05Kj8pUekVfdEkN1vOhuWeJgJLe4gjA-OIGlQfPMYxRKYnZr3pW0JiyWAcHuScEY0vMFqgx6HCUIrxHn8oXnEzAopqcgHGqQJ4i5LFFqyd8hVZfgrvhLsxPuQK0TLeLjtVXO2UFJSy8eomQYRCJ06vqJdkRMAwCetKUUz4JFJXOYz8aBNXQkbob4EvWtqs4pOohBUiALoStWwTkitbacQQwcEhXXZjgdZbwkFmYmkMZE1-6zyrLEYl6AW2xDzkPRDZZBhb-DYzsE2hXL01NM1iP3Vee2aMzUsVkXCvDKpi4hFYYItRAFbFNLAB53Ua6hjyFdYPuVhknIYVTEdvKR9e1NHhgADYVdagqShaunLy4eEpOSWgn5Fo8_K-9CHATqhHACYrMiKyCCmo-IFcYpzp6QZkwoxtDs8hPxPxgyd6c9ZJEM2YHm2sYvyUwlcm_L53B8CXeNFYGSBhr24elGKnpXYnXdw2R9T_k3PxDM7qGAJVtcsxtEhVK-MiUwS7iXJ=w1280-h720-s-no?authuser=0);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item6 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://lh3.googleusercontent.com/pw/AMWts8BY3JReJpAjDKQlRYApjR4QDjcQwXr4NlgY1RNYB9TGsFloZA7WWaP9vZ4XQCzFuYDB7uJX8sVhLhxISrvg1Ovc8bOCdOX0WPKfRRP99z2sH9WHKjsWkxiu1ehIQZtFpnfAxpY4MlL5chZs3DmmhjVwIaWYjNiqsuFFuq_sPjkiUMPWxs0HEZ-gmKSzX9fTXerNYeMk8QqNFDHMZ-YMsR_SaSsso0wi4qdWBg-qloa4DHfvRpoMiWetghUOTQh7_f7tf1iLAZC7nKhJFVYtcRzURNMnJeNempmVbxyxpdrfg2FhaLNtf-mOZqHkwzC-6oxc8BUQhXTS1FpfAIiy-IyO-GmIK0VEoFDNhYUXOil8oooWaENmfR8Ip86wb_gJw7pM5VKOG5Vnn2Ar1N8aDK7NqgEzo4lndsMdzs6p4llNbysTVp-zQCu6XRlYwrk2d-MI1bdDcbHjsAmX3aHDCUQEhCAsYf7gVD39Ns2IXz62CVDFU9vrN8qwi_UiMcA4T0MCExwafbvYxe7ZCoIvbQNoFWTus4dHWX4Nu7hREC-jY50PBHiQM1JxiCUlkkFLoA3iHJyHcBjUyoqaN9DbpEM4SACSbBrELOTkJT_lbfFdncz43-6u2dY9nk7AgKDAJFtOxYfg7evxvSUcLfKlEGYenp3NDDmCry2v2_x-bXNgaFIab8upNnGC1x4Op7czhRixMb_rBDQsGK4t2YFx81URUyDTvxeBYs6jstXDlE7Q2v79DkZkYm-6Gyx7_3YNWtipF4UrUzCLGjZpimaRkeeyAnG1QyyIJ2TYty9gp0DTY2JUT2LIDWgCgY8DctLw9kX87SLcISzp9JpCi5D0zTMBoBtDPB2FinUL62SIp3mWXfg5k9EZJVEdfdwVcr8q6MGgz_UfuctnE5ce3jZueHBaVAzHSlmghW2bU3KX7AQzli4td5NEecdxOe-V=w1280-h720-s-no?authuser=0);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item7 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://lh3.googleusercontent.com/pw/AMWts8BXIBe3V1yzcSXF6rGKVestfHkaH9hdCZJAeJOASsfxYEzTzZ7Tsk_gzL5B-Pcoscm0ZUJgzIzGKWqH3-KrmFqJgt_eRO1pPI5bejT4ktfwKXRFiu-zZ5234iKjk_U8aYQQNFge2JAHcIMlJBWsDWp_KaJLef_Iay3TAgZhh9UVY2kSz9TyCi31rOHBY6O-JN7TpAv7KBIVFEcKbc5NVXVQ9vY5J5mLB00d3TWugiuhd_Vu7SUm02JQhtlYu-A-mD5u096s4aZjAWU6ZUlBdmCHjjFyVc497zl2s-PUPx-zk6D0TYrOr5s3h7j-g54LEtGgG5482WSf5mTd8Gm-mJ3sLvsT2Qx4zeV849OhnAwPQ5EPj6QPykngHbq24MSsyS0zRFe7GbS4gILG40XmtApPsNerQGaWNejicHIvNtUVAMffcsT092SXM9kcVBpgovNFHJ03xDbqono4f7VnPX-ViTX5iu-CGy-MUcdvwYDEXG8CZ19kllolK3XA8KRppQNYEyWDt5xNzugcxLYa6Ss6gJlDAJf7sMIktikyVVol1xGIoMi8OSxLwwEQCxcDIpzxSBl8OcU_MQu63ke-eAXEMyQSz5MEiusOt2RCapiWanyiwNs81AMEyfhxjR7BLgMB2lAagi_2TbpLHoC1tkDR2EdG8cI-VBcUz0xcljWmFy4FCQcrp1dJ3F2SYsctmoJoC6zcnZ0BIpgB80XxLuMYTy1O_CruB7d5k4E58FpdHeD1uu5_AeniYq9mJgy2f5ZEJT5taYBDuFFs9d70s8YRkd0p97U-Z_GoYbU3229cnVknXNkUehLSAx-aiZdzptbG6CB5p5UATDDsfY2zTuKhymovj5iOI9rzUSyMwdaCigmlM8i-No3HjZNnpwP79q1Crqk2APvMZEU7F04O0vJDA4811PVxlepuZkhKQ-TFJ5Z6X-esgSzJEvwu=w1280-h720-s-no?authuser=0);
        background-size: cover;
        width: 20vw;
      }
      .container_last_work .item8 {
        scroll-snap-align: start;
        flex: 0 0 65%;
        /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
          40%, coral 48%); */
        display: flex;
        justify-content: center;
        align-items: center;
        color: bisque;
        text-align: center;
        /* font-size: 1.3rem;
          line-height: 1.3em; */
        font-weight: 400;
        font-family: sans-serif;
        border-radius: 0.2rem;
        background-image: url(https://scontent.fpnh10-1.fna.fbcdn.net/v/t39.30808-6/288220684_127381629974140_2861742593891493794_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHMlETEZaNHgHJ_ctYE-CCsRQzlU0fldF1FDOVTR-V0XZ7_n6iubb6Vl9ziT0UHwqv1LVX20gkUqOFVjnGDUytI&_nc_ohc=pcAmT5rdxngAX_dlOmW&_nc_ht=scontent.fpnh10-1.fna&oh=00_AfA3Ox3V6x7jCYQkhwcJQMOqH0Fi2l14q_EktYuyFb9gDw&oe=64241B41);
        background-size: cover;
        width: 20vw;
      }
  }